.container-fluid{
  width: 100%;
  padding: 15px;
}
.container{
  padding: 0 15px;
  width: 100%;
  margin: auto;
  position: relative;
  @include set-breakpoint(xs-small) {
  }
  @include set-breakpoint(x-small) {
  }
  @include set-breakpoint(small) {
  }
  @include set-breakpoint(x-small) {
  }
  @include set-breakpoint(x-medium) {
  }
  @include set-breakpoint(large) {
    max-width: 1366px;
  }
  @include set-breakpoint(x-large) {
    max-width: 1366px;
  }

}
section{
  margin-bottom: 50px;
}
.section-title{
  @include set-font-size(36px);
  font-weight: 500;
  margin-bottom: 30px;
  color: $light-blue;
}

.section-des{
  @include set-font-size(24px);
  font-weight: 400;
  margin-bottom: 30px;
}
