$c-global-header--height: 60px !default;

.c-global-header {
  //position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: $c-global-header--height;
  padding: 15px;
  background: transparent;
  display: flex;
  //box-shadow: $c-global-header--box-shadow;
  //background-image: $c-global-header--background;
  pointer-events: all;
  z-index: 100;

  .brand-container{
    display: flex;
    align-items: center;
    @include set-font-size(24px);
    font-weight: 500;
    .brand{
      margin-left: 24px;
      span:first-child{
        color: $light-blue;
      }
    }

    .logo{
      height: 46px;
      width: 46px;
    }
  }
}
